.contOut.clearfix
    .contIn
        .section.top.clearfix
            .logoCont
                img.logo(src="https://avatars.githubusercontent.com/u/48360111?v=4")
            h1 Dan Edens
            .moreInfo
                p
                    |
                    br
                    | Fall River, MA 02720
                    br
                    | DanEdens31@gmail.com
                    br
                    | (469) 636.7704
                    br
                    a(href="https://github.com/DanEdens/Resume" target="_blank") View this document on Github
            p.tagline
                | Back-end Developer
                br
                | Project Manager
                br
                span Web &amp; Software
        .divider
.contOut.clearfix
    .contIn
        .section.middle.clearfix
            .job
                h2
                    | Geo Instruments
                    i.fa.fa-minus.openBtn.open
                    span 06/2018 - Present (07/2022)
                p
                    strong Position:
                    | Project Coordinator
                    br
                    strong Description:
                    | Geotechnical Instrumentation and Automation specialist
                    //- responsible for managing projects including: 
                    span.brag
                        | Data collection, Web development, Risk mitigation and Compliance documentation for a variety of industries.
                    br
                    span.brag
                        | I managed the mid-western Office for 3 years. We develop website's for delivering sensor data to the client.
        .divider
.contOut.clearfix
    .contIn
        .section.middle.clearfix
            .job
                h2
                    | Chili's Grill and Bar
                    i.fa.fa-plus.openBtn
                    span 01/2016 - 06/2018
                p
                    strong Position:
                    |  Lead Prep Cook
                    br
                    strong Description:
                    |  Lead Prep team, Maintained a show-ready kitchen for Chili's Test location
                    br
                    span.brag
                        | Took part in Franchise showcases and assisted in Marketing events such as filming TV commercials.
                        br
                    span.brag
                        | Worked closely with corporate offices to help field test timely and effective ways to improve menu recipes and standards.
                        br
                    span.brag
                        | Created a hands-free Recipe app for the kitchen's tablet.
                        br
                    span.brag
                        | Created Cooling log and Inventory tracking app.
                        br
                    span.brag
                        | Collected data on the accuracy of daily On-hand food quantities for a 6-month period. This Resulted in Improved Daily prep list efficiency.
        .divider
.contOut.clearfix
    .contIn
        .section.middle.clearfix
            .job
                h2
                    | Chili's Grill and Bar
                    i.fa.fa-plus.openBtn
                    span 06/2014 - 09/2015  
                p
                    strong Position:
                    | Prep Cook
                    br
                    strong Description:
                    | temp
                    br
                    span.brag
                        | temp
        .divider
.contOut.clearfix
    .contIn
        .section.middle.clearfix
            .job
                h2
                    | AMEC Earth & Environmental
                    i.fa.fa-plus.openBtn
                    span 08/2013 - 04/2014
                p
                    strong Position:
                    | Laboratory Technician
                    br
                    strong Description:
                    | Performed laboratory testing on concrete and soil samples
                    br
                    span.brag
                        | Collected and maintained data reports detailing project samples
                        | Managed test scheduling and preserving samples in limestone storage tanks
        .divider
.contOut.clearfix
    .contIn
        .contracts.clearfix
            h3 Monitoring Portfolio
            .contract
                h4 MSE Wall Repair
                p.desc
                    | Planned and executed a Monitoring plan for a collapsed MSE wall in Fort Worth, Tx.
                    | Deployed Tiltmeters and Crack monitoring equipment to monitor for movement during wall repair.
                    | Built and Maintained Client website displaying Tiltmeter and AMTS Data.
                    a(
                        href="https://www.geo-instruments.com/mse-wall-repair/",
                        target="_blank"
                    ) Project Spotlight
                span.date 2021
            

.contOut.clearfix.half
    .contIn
        .section.middle.clearfix
            ul.buttons
                li
                    a(href="https://www.geo-instruments.com/" target="_blank") Geo-Instruments.com
                        .divider
ul.sm
    li
        a(href="https://codepen.io/danedens/pen/ZExrjqV")
            i.fa.fa-codepen
    li
        a(href="https://github.com/DanEdens/Resume")
            i.fa.fa-github
    li
        a(href="https://www.facebook.com/danedens2/")
            i.fa.fa-facebook
    li
        a(href="https://www.linkedin.com/in/danedens/")
            i.fa.fa-linkedin